@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Poppins', sans-serif;
}

.switch {
    display: block;
    width: 300px;
    height: 60px;
    position: relative;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background: white;
    border: 3px solid white;
    box-shadow: 0 0 3px rgba(0,0,0,0.5); 
  }
  .slider:before {
    top: 10%;
    left: 2%;
    width: 50%;
    height: 80%;
    content: "";
    position: absolute;
    color: white;
    background-color: blue;
    transition: .2s ease-in-out;
    border-radius: 999px;
   }
  .slider.round {
    border-radius: 35px;
  }
  .slider:before {
    text-align: center;
    z-index: 10;
  }
  .slider:after {
    top: 10%;
    width: 300px;
    height: 60px;
    left: 0%;
    z-index: 10;
    color: #fff;
    position: absolute;
    text-align: center;
  }
  .text {
    top: 0; left: 0; right: 0; bottom: 0;
    position: absolute;
    display: block;
    width: 300px;
    height: 60px;
    z-index: 10;
  }
  .text:before,
  .text:after {
    position: absolute;
    top: 30%;
  }
  .text:before {
    left: 56%;
    content: 'Annually';
  }
  .text:after {
    color: #fff;
    left: 17%;
    content: 'Monthly';
  }

  input {
      display: none;
  }


  input:checked + .slider:before {
    left: 47%;
  }
  input:checked ~ .text:before {
    color: #fff;
  }
  input:checked ~ .text:after{
    color: #000;
  }